<!--Featured-->
 {% if collections.featured.length <= 0 %}
  <div class="news-featured-group">
    {%- for post in collections.featured | reverse -%}
    <a class="news-feature" href="{{ post.url }}">
      {% if post.data.image %}
        <picture class="news-featureImage">
          <img
            src="{{ post.data.image }}"
            alt="{{ post.data.imageAlt }}"
            width="60"
            height="60"
            decoding="async"
          />
        </picture>
      {% endif %}

      <div class="content-group">
        <h3 class="feature-h3">{{ post.data.newsTitle }}</h3>
        <p>{{ post.data.newsDescription}}</p>{# <span class="feature-date">{{ post.date | postDate }}</span> #}
      </div>
    </a>
    {%- endfor -%}
  </div>{% endif %}