<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
      <div class="social">
        <a href="">
          <picture>
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/svgs/instagram.svg"
              alt="Instagram"
              width="50"
              height="50"
            />
          </picture>
        </a>
        <a href="">
          <picture>
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/svgs/spotify.svg"
              alt="Spotify"
              width="50"
              height="50"
            />
          </picture>
        </a>
        
        <a href="">
          <picture>
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/svgs/threads.svg"
              alt="Threads"
              width="50"
              height="50"
            />
          </picture>
        </a>
        <a href="">
          <picture>
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/svgs/email.svg"
              alt="Email"
              width="50"
              height="50"
            />
          </picture>
        </a>
      </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://www.lalahulse.com/" target="_blank" rel="noopener">Lala Hulse</a>
        <span class="copyright"> Copyright 2024 - Present</span>
    </div>
</footer>