<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->
{% set navPages = collections.all | eleventyNavigation %}

<div id="navigation">
    <div aria-hidden="true" class="background-color-div">
        <!--This div is used to overcome a z-index issue where the open
            #navbar-menu is on top of the #navigation. This bar places itself 
            the #navbar-menu so that menu appears behind the #navigation
        -->
    </div>
    <div class="container">

        <!--Mobile Nav toggle-->
        <button class="hamburger-menu" aria-expanded="false" aria-controls="navbar-menu">
          <span class="visually-hidden">Menu</span>
          <span aria-hidden="true"></span>
        </button>
      <a href="/"><h1 class="cs-title">Leftie Aubé</h1></a>

        <!--Main Nav-->
        <nav id="navbar-menu" aria-label="main navigation">
          <ul>
            
            <li>
              <a 
                {% if entry.url == page.url %} class="active" {% endif %}
              href="/">HOME
              </a>
            </li>

            <li>
              <a 
                {% if entry.url == page.url %} class="active" {% endif %}
              href="/#subscribe">NEWSLETTER
              </a>
            </li>

            <li>
              <a 
                {% if entry.url == page.url %} class="active" {% endif %}
              href="/news">NEWS
              </a>
            </li>

            <li>
              <a 
                {% if entry.url == page.url %} class="active" {% endif %}
              href="/#podcast">PODCAST
              </a>
            </li>
            
            <li>
              <a 
                {% if entry.url == page.url %} class="active" {% endif %}
              href="/publications">Publications
              </a>
            </li>
            
            <li>
              <a 
                {% if entry.url == page.url %} class="active" {% endif %}
              href="/contact">Contact
              </a>
            </li>
          </ul>
        </nav>
    </div>
</div>