---
layout: 'base.html'
preloadCSS: '/css/blog.css'
eleventyComputed:
    description: '{{ newsDescription }}'
    metaTitle: '{{ newsTitle }}'
    tagTitle: '{{ titleTag }}'
    preloadImg: '{{ image }}'
    permalink: '/news/{{ pageName | slug }}/index.html'
---

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
</section>

<!-- ============================================ -->
<!--              Main Blog Content               -->
<!-- ============================================ -->

<div class="news-container main-content-wrapper">
    <!--Main content -->
    <div class="main-content">
        <!-- ============================================ -->
        <!--                  Blog Article                -->
        <!-- ============================================ -->

        <article class="news-article">
            <!--Main Article Image-->
            {% if post.data.image %}
                <picture class="news-mainImage">
                <img src="{{ image }}" alt="{{ imageAlt }}" width="795" height="400" decoding="async"/>
                </picture>
            {% endif %}

            <!--Article Info-->
            <div class="article-group">
                <h1 class="news-h1">{{ newsTitle }}!!!</h1>
               
                    <span aria-hidden="true" class="news-dot"></span>
                    <!--Blog Date-->
                    <span class="news-date">{{ date | postDate }}</span>
                </div>
            </div>
            <section id="news-content">
                {{ content | safe }}
            </section>
        </article>
    </div>
    <!-- End .main-content -->

    <!-- ============================================ -->
    <!--                   Sidebar                    -->
    <!-- ============================================ -->

    {% include 'featured-post.html' %}
</div>