---
layout: 'base.html'
description: 'Leftie Aubé - News'
metaTitle: 'Leftie Aubé - News'
tagTitle: 'News'
preloadCSS: '/css/news.css'
permalink: 'news/'
eleventyNavigation:
    key: News
    order: 500
---

<!-- Enter html code below -->
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">News</h1>
   
</section>

<!-- ============================================ -->
<!--              Main Blog Content               -->
<!-- ============================================ -->

<div class="news-container main-content-wrapper">
    <!--Main content -->
    <div class="main-content">
        <!-- ============================================ -->
        <!--                 Blog Articles                -->
        <!-- ============================================ -->

        {% if collections.post | length == 0 %}
            <h1>No Recent Posts</h1>
        {% endif %}
        {%- for post in collections.post | reverse -%}
            <article class="recent-articles">
                <!--Main Article Image-->
              {% if post.data.image %}
                <picture class="news-mainImage">
                    <img
                        src="{{ post.data.image }}"
                        alt="{{ post.data.imageAlt }}"
                        width="795"
                        height="400"
                        decoding="async"
                />
                </picture>
        {% endif %}
                <!--Article Info-->
                <div class="article-group">
                    
                    <h2 class="news-h1">
                        {{ post.data.newsTitle }}
                    </h2>
                    <p class="news-desc">
                        {{ post.data.newsDescription }}
                    </p>
                    <a href="{{ post.url }}" class="news-link">Continue Reading</a>
                </div>
            </article>
        {%- endfor -%}
    </div>

    <!-- ============================================ -->
    <!--                Featured Posts                -->
    <!-- ============================================ -->

    {% include 'featured-post.html' %}
</div>