/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {

  #cs-contact {
    font-family: 'Archivo', 'Arial', sans-serif;
    padding: var(--sectionPadding);
  }
  #cs-contact .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 45rem;
    margin: auto;
    padding-top: 0;
  }
  #cs-contact .cs-container p {
    margin-bottom: 2em;
  }
  #cs-contact .cs-content {
    width: 100%;
  }
  #cs-contact .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: left;
    max-width: 50rem;
    margin: 0 auto 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #cs-contact .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: left;
    width: 100%;
    /* 404px - 522px */
    max-width: clamp(25.25rem, 30vw, 32.625rem);
    margin: 0 auto 0 0;
    /* 40px - 48px */
    margin-bottom: clamp(2.5rem, 6.3vw, 3rem);
    color: var(--bodyTextColor);
  }
  #cs-contact .cs-right-section {
    position: relative;
    height: auto;
    /* 24px - 40px top & bottom */
    /* 20px - 40px left & right */
    /* padding: clamp(1.5rem, 3vw, 2.5rem) clamp(1.25rem, 3vw, 2.5rem); */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  #cs-contact .cs-header {
    /* 16px - 20px */
    font-size: clamp(1rem, 3vw, 1.25rem);
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 0.5rem;
    /* color: var(--bodyTextColorWhite); */
    display: block;
  }
  #cs-contact .cs-link {
    /* 16px - 20px */
    font-size: 1rem;
    line-height: 1.2em;
    text-decoration: none;
    margin-bottom: 1.25rem;
    color: var(--bodyTextColor);
    display: block;
    position: relative;
  }
  /*  */
}
/* Tablet - 700px */
@media only screen and (min-width: 43.75em) {
  #cs-contact #cs-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  #cs-contact #cs-form label {
    width: 48%;
  }
  #cs-contact #cs-form .cs-label-message {
    width: 100%;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #cs-contact .cs-container {
    max-width: 80rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
  }
  #cs-contact #cs-form {
    max-width: 39.375rem;
  }
  #cs-contact #cs-form label {
    width: 100%;
  }
  #cs-contact .cs-right-section {
    /* changes to 578px at 1300px wide */
    height: 42.875rem;
    width: 40%;
    max-width: 33.875rem;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #cs-contact .cs-right-section:hover .cs-bg-picture {
    transform: scale(1.1);
  }
  #cs-contact .cs-block {
    /* goes back to inline so it stays "in line" with the rest of the text */
    display: inline-block;
  }
}
/* Small Desktop - 1300px */
@media only screen and (min-width: 81.25em) {
  #cs-contact #cs-form {
    column-gap: 0rem;
  }
  #cs-contact #cs-form label {
    width: 48%;
    max-width: 19.0625rem;
  }
  #cs-contact #cs-form .cs-label-message {
    max-width: 100%;
  }
  #cs-contact .cs-right-section {
    height: auto;
  }
}
