/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
#hero {
  background-color: var(--primaryDark);
  font-family: 'Archivo', 'Courier', serif;
}
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #hero {
    color: var(--bodyTextColorWhite);
    /* changes on tablet */
    padding: 0 1rem;
    /* padding-bottom: 6.25rem; */
    position: relative;
    z-index: 1;
    /* prevents overflow from the lines extending past the screen width */
    overflow: hidden;
  }
  /* #hero .cs-picture-author {
  } */
 
  #hero .cs-picture-author img {
    margin-bottom: clamp(1.5em, 15.5vw, .5em);

    max-width: 300px;
    height: auto;
  }
  #hero .cs-container {
    width: 100%;
    max-width: 80em;
    padding: clamp(5em, 25.95vw, 17.5em) 0;
    margin: auto;
    position: relative;
  }
  #hero .cs-flex-group {
    /* 60px - 220px */
    margin-bottom: clamp(3.75em, 15.5vw, 4em);
    margin: auto;
    max-width: 1050px;
    width: 80vw;
    /* 464px - 562px */
    /* max-width: clamp(29em, 60vw, 50em); */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap-reverse;
    box-sizing: border-box;
  }
  /* dark bg fonts */
  #hero .cs-title,
  #hero .cs-text-subhed,
  #hero .cs-text p {
    color: var(--bodyTextColorWhite);
  }

  #hero .cs-title {
    font-size: clamp(3rem, 6.4vw, 6rem);
    font-weight: 900;
    letter-spacing: -.04em;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    /* 32px - 40px */
    margin: 0 auto clamp(2rem, 2vw, 2.5rem) 0;
    position: relative;
  }
  #hero .cs-text-subhed {
    margin-bottom: .5em;
  }
  #hero .cs-text {
    /* color: var(--bodyTextColorWhite); */
    font-family: 'Archivo-Regular';
    /* 16px - 20px */
    font-size: clamp(1rem, 1.95vw, 1.25rem);
    line-height: 1.6em;
    width: 100%;
    /* 32px - 40px */
    margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
    /* 40px - 48px */
    margin-bottom: clamp(2.5rem, 4vw, 3rem);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #hero {
    /* 32px - 40px */
    padding: 0 clamp(2em, 5vw, 2.5em);
  }
  #hero .cs-container {
    padding: clamp(7em, 27.95vw, 7.5em) 0 clamp(9em, 30.95vw, 11em) 0;
  }
  #hero .cs-flex-group {
    flex-wrap: nowrap;
  }
  #hero .cs-flex-group .cs-left {
    max-width: 65%;
    margin-right: 5em;
  }
}
/*-- -------------------------- -->
<---          subscribe          -->
<--- -------------------------- -*/
/* subscribe Mobile */
@media only screen and (min-width: 0em) {
  #subscribe {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: var(--max-width);
    position: relative;
    background: var(--primary);
    padding: 2.5rem 1.5em;
    z-index: 100;
  }
  #subscribe h2 {
    font-size: clamp(2rem, 15.5vw, 2.5em);
    margin: 1em auto;
    text-align: center;
  }
  #subscribe form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  #subscribe form label {
    width: 100%;
  }

}
/* subscribe Inbetween */
@media only screen and (min-width: 768px) {
  #subscribe {
    font-size: min(1.8vw, 1em);
    display: flex;
    justify-content: center;
    width: 98%;
  }
  #subscribe form label {
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
    max-width: 1000px;
    width: 90%;
  }
  #subscribe form button {
    margin-left: 1.5em;
  }
  #subscribe form button,
  #subscribe form input {
    height: 4rem;
  }



}
/* subscribe Large Desktop */
@media only screen and (min-width: 1300px) {
  #subscribe {
    padding: 3.125em 0;
  }
  #subscribe form {
    flex-wrap: nowrap;
  }
}

/*-- -------------------------- -->
<---         news         -->
<--- -------------------------- -*/
/* news Mobile */
@media only screen and (min-width: 0em) {
  #news {
    /* display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; */
    background-color: var(--primaryMidDark);
    margin: 0;
    position: relative;
    z-index: 100;
    padding: 2.5rem 1.5em;
    width: 100%;
  }

  #news .cs-container {
    padding: clamp(1.5em, 25.95vw, 2.5em) 0;
  }

  #news .news-mainImage img {
    margin-bottom: 1em;
    width: 100%;
  }

  #news h2 {
    color: var(--bodyTextColorWhite);
    font-size: clamp(2rem, 15.5vw, 2.5em);
    margin: 0 auto 1em;
  }

  #news h3 {
    color: var(--bodyTextColorWhite);
    font-size: 1.5rem;
    margin-bottom: .75rem;
  }

  #news .news-desc {
    color: var(--bodyTextColorWhite);
  }

  #news .article-group p:last-of-type {
    margin-bottom: .75em;
  }

  #news .article-group a.news-link {
    color: var(--bodyTextColorWhite);
    font-weight: 900;
  }

  #news .news-featured-group a.news-feature {
    color: var(--bodyTextColorWhite);
    font-weight: 900;
    text-decoration: none;
  }
}

@media only screen and (min-width: 768px) {
  #news article {
    display: flex;
    flex-direction: row;
  }

  #news .news-mainImage img {
    margin-right: 1em;
    margin-top: .15em;
    max-width: 300px;
    width: auto;
  }
}

/*-- -------------------------- -->
<---         podcast         -->
<--- -------------------------- -*/
/* podcast Mobile */
@media only screen and (min-width: 0em) {
  #podcast {
    /* matches spotify embed bg color */
    /* background-color: rgb(40, 40, 40); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    position: relative;
    z-index: 100;
    padding: 1%;
    width: 100%;
  }
  #podcast h2 {
    color: var(--primaryDark);
    font-size: clamp(2rem, 15.5vw, 2.5em);
    margin: 1em auto;
    text-align: center;
  }

}
/* Inbetween */
@media only screen and (min-width: 768px) {
  #podcast {
    font-size: min(1.8vw, 1em);
    display: flex;
    justify-content: center;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #podcast {
    padding: 3.125em;
  }
  #podcast .podcast-wrapper {
    width: 75%;
    max-width: 1050px;
  }
}

/* margins for scrollto on each homepage section */
@media only screen and (min-width: 0em) {
  #hero, 
  #subscribe,
  #news,
  #podcast {
    scroll-margin-top: 3.8rem;
  }

}
@media only screen and (min-width: 768px) {
  #hero, 
  #subscribe,
  #news,
  #podcast {
    scroll-margin-top: 7rem;
  }
}