/*-- -------------------------- -->
<---        Main Content        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  
  .pubs-container {
    margin: auto; 
    padding: clamp(60px, 7vw, 100px) 0;
    max-width: 70em;
    width: 94%;
  }
  .main-content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 2em;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3.125em;
    width: 100%;
  }
  .main-content h2 {
    margin-bottom: 1em;
  }
  .main-content ul {
    margin-bottom: 1.5em;
  }
  .main-content ul li {
    list-style: disc outside none;
    margin-bottom: 1em;
    margin-left: 1em;
  }
}